<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to balena!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <script src="main.js"></script>
</head>
<body>
  <div class = "container">
    <div class = "column col-6 p-centered">
      <div class="divider text-center" data-content="Salon"></div>
      <div class="card">
        <div class="card-image">
          <img src="data/image.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
